* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #ff00ff;
}

.header-box {
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header-box > div {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: pink;
}

.header-box > :first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.flex-left {
  width: 300px;
  background-color: palegreen;
}

.flex-right {
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: green;
}

.flex-right > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: yellow;
}

footer {
  width: 100%;
  background-color: blue;
}

.footer-box {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box > div {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: #a2f3ff;
}

.footer-box > :last-child {

}
